body {
    background-color: rgba(84, 120, 134, 0.609);
}

h1 {
    margin: 10px;
    font-style: italic;
}

div {
    display: table-caption;
    border: 2px solid black;
    background-color: burlywood;
    border-radius: 10px;
    margin: 10px;
}

p {
    margin: 10px;
}

label {
    padding-left: 10px;
    position: absolute;
}

.input {
    margin-left: 15em;
    margin-right: 10px;
}

#converter {
    margin: 10px;
    padding: 0 20px;
    line-height: 2;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(40, 106, 171);
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
        inset -2px -2px 3px rgba(0, 0, 0, .6);
}

#converter:hover {
    background-color: rgb(54, 57, 116);
}